<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Queue</title>
    <meta name="description" content="">
    <!-- allows site to act as a native app when saved to the homescreen -->
    <meta name="apple-mobile-web-app-title" content="Queue">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
</head>

  <h2 class="text-center page-header navbar-fixed-top">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">Queue</div>
</h2>




{{outlet}}

<footer class="linkFooter">
  {{#link-to 'index'}}Student's view{{/link-to}}
  {{#link-to 'teacher-view'}}Teacher's view{{/link-to}}
</footer>
